@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.blink
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #07252d;
}

.abc
{
	position: relative;
	font-size: 150px;
        font-weight: 700;
	letter-spacing: 10px;
	color: #0e3742;
	text-transform: uppercase;
	width: 100%;
       
	text-align: center;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
        line-height: 0.7em;
	outline: none;
	animation: animate 5s linear infinite;
        
}
@keyframes animate
{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
	{
		color: #0e3742;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
	{
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
		0 0 20px #03bcf4,
		0 0 40px #03bcf4,
		0 0 80px #03bcf4,
		0 0 160px #03bcf4;
	}
}






h4{
    color:white;
    margin-left:30px;
    font-size: 65px;
     font-family: 'Balsamiq sans', cursive;
}
span{
  color: darkorange;
}
.para{
    color:white;
    margin-left:30px;
    font-size: 21px;
    font-family: 'Balsamiq sans', cursive;
}
.contact
{
    margin-top:10%;
    margin-bottom:15%;
    height: 100vh;
    display: grid;
    align-items: center;
    
}


.contact-wrap
{
   
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    
}

.contact-in{
    padding: 40px 30px;
}
.contact-in:nth-child(1){
    flex:30%;
    
    background-color: #fff;
}
.contact-in:nth-child(2){
    flex:45%;
    background: darkorange;
}
.contact-in:nth-child(3){
    flex:25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: lightgrey;
    color: darkblack;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}
.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.contact-in ul {
    padding: 0;
    margin: 0;
}
.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.contact-in ul li a {
    display:inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}
.contact-in ul li a i {
    list-style: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    flex-wrap: wrap;
    display: inline-block;
    background: lightgrey;
    border-radius: 50px;
    text-align: center;
    padding:5px;
    
    transition: all 0.3s ease;
}

.contact-in form {
    width: 100%;
    height: auto;

}
.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border:1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', cursive;
    
}
.contact-in-input::placeholder{
    color: #fff;
}
.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border:1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
textarea::placeholder{
   color: white;
}
.contact-in-textarea{
    color: #fff;
}
.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border:1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.contact-in-btn{
margin-left: 38%;
padding: 11px;
padding-left: 14px;
padding-right: 14px;
letter-spacing: 0.3px;
border-radius: 5px;
border:1.5px solid #fff;
background-color: darkorange;
color: white;
transition: all 0.3s ease;
}
.contact-in-btn:hover{
background-color: darkorange;
color: black;
border:1.5px solid black;
transition: 0.5s;
cursor: pointer;
}
.contact-in iframe
{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 480px)
{
    .contact-in:nth-child(1){
        flex:50%
    }
    .contact-in:nth-child(2){
        flex:50%
    }
    .contact-in:nth-child(3){
        flex:100%
    }
    
}
@media only screen and (max-width: 360px)
{
    .contact-in:nth-child(1){
        flex:50%
    }
    .contact-in:nth-child(2){
        flex:50%
    }
    .contact-in:nth-child(3){
        flex:100%
    }
    
}






footer{
  
  width: 100%;
  position: bottom-fixed;
  bottom: 0;
  left: 0;
  background: #111;
  font-family: 'poppins',cursive;
}
a{
text-decoration:none;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]
{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]
{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
  }
