*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}
h1{
    color: white;
    font-size: 25px;
}
span{
    color: orange;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(poor.jpg);
    background-position: center;
    background-size: cover;
    postion: relative;
}
nav{
    display:flex;
    padding:0.1% 5%;
    justify-content:space-between;
    align-items:center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color:white;
    text-decoration:none;
    font-size:15px;
}
.nav-links ul li{
     color: white;
     border: 1px solid transparent;
     border-radius: 10px;
     padding: 10px 20px;
     background: transparent;
     position: relative;
     cursor: pointer;
}
.nav-links ul li:hover{
     border: 1px solid orange;
     background: orange;
     transition: .5s;
}
.text-box{
    width: 70%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h2{
    font-size: 52px;
    text-align: center;
}
.button{
     display: inline-block;
     text-decoration: none;
     color: white;
     border: 1px solid white;
     border-radius: 10px;
     padding: 12px 24px;
     font-size: 15px;
     background: transparent;
     position: relative;
     cursor: pointer;
}
.button:hover{
     border: 1px solid orange;
     background: orange;
     transition: .5s;
}
   











.main{

 margin: 2%;
}

.card{
     width: 28%;
     display: inline-block;
     border-radius: 5px; 
     margin-left: 4%;
     margin-bottom: 0%;
     margin-top: 5%;
     transition: 0.5s;
    }
.card:hover{
  box-shadow: 0px 0px 30px mintcream;
}

.image img{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }
h3{
  font-size: 52px;
  margin-left: 6%;
  margin-top: 7%;
  color: white;
}

h1{
  font-family: 	Times New Roman;
  font-color: black;
  font-size: 20px;
  font-weight: normal;
  color: orange;
 }

.qtns{
  margin-left: 6%;
  color: white;
  font-size: 20px;
}
.des{
  padding: 3px;
  text-align: center;
  color: white;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: orange;
  border: 1px solid black;
  border-radius: 0px;
  padding:10px;
  color:white;
}
button:hover{
  background-color: black;
  border: 1px solid orange;
  color: orange;
  transition: .3s;
  cursor: pointer;
}





.english{
 margin-top: -4%;
}
.mission-vision{
 margin-top: 170px;
 margin-left: 60px;
 margin-bottom: 120px;
 width:90%;
 padding:8px;
}
.madam{
 
 float:left;
 padding: 0 15px 0 0;
 border-radius: 20px;
 
}
.madam:hover{
 opacity:0.5;
 transition: .6s;
 
}
.text{
 font-family:verdana;
 color: white;
 margin-left:500px;
}

.mission-vision h1{
  font-size: 52px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  color: white;
 }
h4{
  font-family: 	Times New Roman;
  font-size: 26px;
  font-weight: normal;
  color: orange;
}
h5{
  
  font-size: 20px;
  font-weight: normal;
  color: white;
}
.humanity{
  text-decoration: none;
  
}

